* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url(../fonts/Pixel.ttf);
}

[wm-flappy] {
    position: relative;
    border: 30px solid black;
    height: 650px;
    width: 1000px;
    background: url('../imgs/bg-paisagem.jpg') top center no-repeat;
    background-size: cover;
    overflow: hidden;

}


.video-game {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.aba-blue {
    position: relative;
    background-color: #49d1e7;
    height: 650px;
    width: 250px;
    border-radius: 40px 0 0 40px;
    box-shadow: inset 0px -20px 0px 0px rgb(0, 0, 0, 0.15);

    &:before {
        content: '';
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 12px solid rgb(56, 56, 56);
        background-image: linear-gradient(to bottom right, rgb(153, 152, 152), rgba(0, 0, 0, 1));
        box-sizing: border-box;
    }
}

.aba-red {
    position: relative;
    background-color: #ea555a;
    height: 650px;
    width: 250px;
    border-radius: 0 40px 40px 0;
    box-shadow: inset -17px -20px 0px 0px rgb(0, 0, 0, 0.15);

    &:before {
        content: '';
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 12px solid rgb(56, 56, 56);
        background-image: linear-gradient(to bottom right, rgb(153, 152, 152), rgba(0, 0, 0, 1));
        box-sizing: border-box;
    }
}


.controls{
    position: relative;
    width: 110px;
    height: 110px;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

.controls2{
    position: relative;
    width: 110px;
    height: 110px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.controls span, .controls2 span {
    position: absolute;
    display: block;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, rgb(153, 152, 152), rgba(0, 0, 0, 1));
}

.controls span:nth-child(4n), .controls2 span:nth-child(4n){
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
}

.controls span:nth-child(4n + 1), .controls2 span:nth-child(4n + 1){
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.controls span:nth-child(4n + 2), .controls2 span:nth-child(4n + 2){
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.controls span:nth-child(4n + 3), .controls2 span:nth-child(4n + 3){
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.passaro {
    position: absolute;
    left: calc(50% - 30px);
    width: 60px;
    filter: drop-shadow(-10px 30px 4px rgb(0, 0, 0, 0.1));
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(-5px 5px 4px rgb(0, 0, 0, 0.2));
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: url('../imgs/textura.jpg') top center no-repeat;
    background-size: cover;
    border: 2px solid #000;
    border-radius: 5px;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: url('../imgs/textura.jpg') top center no-repeat;
    background-size: cover;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 60px;
    font-weight: 700;
    color: white;
    z-index: 100
}